<!DOCTYPE html>
<html>
  <head>
    <title>DaBes'</title>
    <link rel='stylesheet' type="text/css" href='/css/bootstrap.css'>
    <link rel='stylesheet' type="text/css" href='/css/app.css'>

  </head>
  <body>


      #parse( $template )


  </body>
</html>
